html{
    background-color: rgb(34, 34, 34);
}

a {
    text-decoration: none;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.box {
    width: 30%;
    height: 700px;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.2s ease-in-out;

  }
  
  .box:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

.box-title {
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    padding: 20px;
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #6d6d6d;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #9e9e9e;
    cursor: pointer;
    animation: shake 0.5s ease-in-out;
  }
  
  .button:active {
    background-color: #414141;
    transition: background-color 0s;
    animation: none;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 3px 20px;
    background-color: rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
